body 	{
		font:15px/1.5px, Arial, Helvetica, Sans-serif ;
		padding:0 ;
		margin:0;
		background-color:#ffffff;
		
}
		
/*-------------------global----------------------**/
.container { 
		margin: auto;
		overflow: hidden;	
		}
		 
ul {
	margin:0;
	padding:0;
}

.button_1 {
	height:38px;
	background:#e8491d;
	border:0;
	padding-left: 20px;
	padding-right:20px;
	margin-top:10px;
	color: #ffffff;
}	
.nav {
	border-bottom: 1px solid grey;
	text-align:right;
	height: 70px;
	line-height:70px;
	
}	

.menu {
	margin: 0 0px 0 0;
	float:right;
	padding-right: 150px;
	
}	 

.menu a {
	clear: both;
	text-decoration: none;
	color: #ffffff;	
	margin: 0 20px;
	line-height: 70px;
}

label {
	margin: 0 5px 0 0;
	font-size:20px;
	line-height: 20px;
	display:none;
	width:20px;
	float:right; 
	
}	 

#toggle {
	display:none;
}	 		 
	
/*------------header-------------------------------------**/
header {
		background:#00B978 ;
		color: #ffffff;
		padding-top:20px;
		min-height: 70px;
		border-bottom: #e8431d 5px solid;
		}
		
header a{
	color: #ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px; 
}
  
header li{
	float: left;
	display: inline;
	padding: 0 5px 10px 5px;
}  

header .logo {
	width: 25%;
	padding: 10px 10px 15px 25px;
	margin: auto;
	float:left;  
	height: 80px;	
	box-sizing: border-box;  
	max-width:100%;
} 

header a:hover {
	color:#B10000;
	font-weight:bold;
}

/* showcase**/
#showcase {
	min-height:400px;
	background: url('pic bg.jpg') no-repeat ;		
	text-align:center;
	color: #005637;
	
}
#showcase h1 {
	margin-top:100px;
	font-size:55px;
	margin-bottom:10px;
	box-sizing: border-box;   
	width: 50%;
	float: right;
	clear: both;
	text-align:center; 
	padding-right: 40px;
}
#showcase p{
	font-size:20px;
	box-sizing: border-box;   
	width: 50%;
	float: right;
	clear: both;
	padding-right: 40px;
	text-align:center;
}
 

/*newsletter**/
#newsletter {
	padding:10px;
	color: #ffffff;
	background-color:#B10000;
	
}
#newsletter h1 {
	float: left;
	padding-left: 80px;	
}
#newsletter form {
	float:right;
	margin-top: 15px;
}
#newsletter input[type="email"]{
	padding:4px;
	height:25px;
	width:250px;
}

/*boxes**/
#boxes {
	margin-top:20px;
}
#boxes .box{
	float:left;
	text-align:center;
	width:30%;
	padding:10px;
}

#boxes .box img {
	width: 40%; 
	height: 200px;
	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}  
 
 
 
/*---------About Us-------------------------------------**/	
#main {
	margin:25px 50px;
	color:black;
	background: url('background1.jpg') -1500px 0;
}
	
 /*main-col**/
article#main-col {
	float:left;
	width: 62%;
	padding:10px; 
	margin: 25px 20px;
	background:grey;
	opacity: .95; 
	font-size: 17px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
  /*sidebar**/
 aside#sidebar {
	float: right;
	width:32%;
	margin-top:10px; 
	font-size: 18px;
 }
 
 /*sidebar background**/	
.dark {
	padding:12px;  
	background:grey;
	opacity: .9; 
	margin-top: 15px;
	margin-right:25px; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

/*------------product list---------------------------------**/ 
/*product picture**/

#card {
	margin-top:20px; 
	margin-left: 25px;
	float:left;
	text-align:center;
	width:30%;
	padding:0px; 
	position:relative;
}

/*item-detail**/
#main_1 {
	margin:0;
	color:black;
	background: url('background1.jpg')-1200px 0;
}
	
.container {
  position: relative;
}
 
article#mainpage_1 {
	float:right;
	width: 65%;
	padding:10px;  
	margin-right:50px;
}
 
 
.block-right {
	padding:15px; 
	margin-top:15px;
	margin-bottom: 5px; 
	width: 100%;  
	height: 200px;
	font: 16px; 
	background-color: rgba(228,25,28,.9);
	line-height: 150%;
	border-top-left-radius: 20px; 
	border-bottom-right-radius: 20px;  
	margin-bottom:10px;
}
 
   
article#mainpage_2 {
	float:left;
	width: 25%; 
	padding:10px; 
	margin-left:40px;
	font-size:20px;

} 

article#mainpage_2 a{
	text-decoration:none;
	color:white;
}

article#mainpage_2 a:hover{
	text-decoration:none;
	color:red;
}

article#mainpage_2 a:visited{
	text-decoration:none;
	color:blue;
}

 
article#mainpage_2 h3 {
	text-align:center;

}
			
.float-img {
	clear: both;
	float: left; 
	margin-right:8px; 
	margin-left: 8px;
	margin-top: 10px;
	padding: auto;  
	max-height:auto;	
	max-width:120px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}		

.image {
	width: 50%; 
	height: 250px;  
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 10px;
	padding:0;
}  
  
  
 
/*-------------contact-----------------------------------**/
ul#service li{
	list-style:none;
	padding:20px; 
	
}
 
aside#sidebar .quote input,aside#sidebar .quote textarea{
	 
	width:90%;
	margin-top:10px;  
	font-size: 15px;
}

.quote label  {
	margin: 5px 5px 0 0;
	padding:5px;
	font-size:16px;
	line-height: 10px;
	display:inline;
	float:left; 
}	 
	
.page-title h3{
	color:white; 
	text-align:center; 
	font-size:30px;"
}
 
.page-title p{
	text-align:center; 
	font-size: 35px;
} 


/*table**/
table {	
	margin:30px 30%;
	width: 40%; 
	font-size: 26px;
}	
	
th {
	text-align:center;
}

table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 20px;

}

tr:nth-child(even) {
	background-color: grey;
}

tr:nth-child(odd) {
	background-color: orange;
}

/*---------footer----------------------------------------**/ 
footer {
		background: #e8491d;
		color: #ffffff;
		padding:10px;
		min-height: 40px;
		text-align: center;
		margin-top:15px;
}
		
footer a{
	color: #ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:12px;
}
  
footer li{
	float: left;
	display: inline;
	padding: 0 10px 0 10px;
}
footer nav{
	float:right;
	margin-top:10px;
}

footer a:hover {
	color:green;
	font-weight:bold;
} 

footer p{
		float: left;
		color: black;
}

/*----------------------media query for 500px--------------------**/
@media (max-width:500px) {             
		header .logo,
		header .headmenu,
		#showcase h1,
		#showcase p,
 		#newsletter h1,
		#newsletter form,
		#boxes .box,
		#card ,
		#card img,
		article#main-col,
		aside#sidebar,
		#workinghour,
		footer nav,
		footer nav li,
		footer p
		{
		float:none;
		text-align:center;
		width: auto;    
		 }
		
		header{
			 padding-bottom:20px;
		}
		 header .logo {
			 width:100%; 
			 padding: 0 45px;	
		 }
		 #showcase h1{
			 margin-top:40px;
			 padding:30px;
			 text-align: center; 
		 }
		 #newsletter h1{
			padding:0;
		 }
		 #newsletter button, .quote button{
			display:block;
			width: 100%;
		 }
		 #newsletter form input[type="email"], .quote input, .quote textarea {
			width: 100%;
			margin-bottom: 5px;
		} 
		label {
		display: block;
		cursor: pointer;
		}
		.menu {
			text-align: center;
			width: 100%;
			display:none;
			margin:0; 
			padding:0;
		}
		.menu a {
			display: block;
			border-bottom: 1px solid white;
			margin: 0;
		}
		#toggle:checked + .menu {
			display: block;
		} 
		.dark, .page-title {
			margin:0;
			padding:7px;
			text-align: left;
		} 
		.dark h3, .page-title h1 {
			text-align:center;
		}
		.quotedark label {
			width: 100%;
			display:block;
		}
		caption {
			overflow-x:auto;
		}
		#workinghour {
			font-size:20px; 
			margin:0;
			width: 100%;
		}
		
		article#main-col {
			padding:0;
			margin:0;
		}
		article#main-col h1 {
			font-size:16px;
		}
		article#mainpage_1,.block-left, .block-right, .block-right h3 {
			width:100%; 
			height:100%;
			float: none;
			margin-bottom:5px;
			padding:0 ;
			text-align:center;
		}
		article#mainpage_2 {
			width:100%; 
			text-align:center;	
			height:auto; 
			margin:0;
			padding:0 ;
		}
		
}
/*------------- media query for width 768px-------------------------**/
@media only screen and (max-width: 768px) and (orientation: landscape){
	 
		header .logo,
		header .headmenu,
		#showcase h1,
		#showcase p,
 		#newsletter h1,
		#newsletter form,
		#boxes .box,
		#card ,
		#card img,
		article#main-col,
		aside#sidebar,
		#workinghour,
		footer nav,
		footer nav li,
		footer p
		{
		float:none;
		text-align:center;
		width: 100%;    
		 }
		.menu {
			text-align: left;
			width: 1%;
			display:none;
			text-align:center;
			margin:0; 
			padding:0;
		}
		.menu a {
			display: block;
			border-bottom: 1px solid white;
			margin: 0;
		}
		header{
			 padding-bottom:20px;
		}
		
		header .logo {
			 width:75%; 
			 padding: 0 45px;	
		}
		#showcase h1{
			 margin-top:40px;
			 padding:30px;
			 text-align: center; 
		}
		
		#newsletter h1{
			padding:0;
		}
		
		#newsletter button, .quote button{
			display:block;
			width: 100%;
		 }
		#newsletter form input[type="email"], .quote input, .quote textarea {
			width: 100%;
			margin-bottom: 5px;
		} 

		label {
			display: block;
			cursor: pointer; 
		}
		
		#toggle:checked + .menu {
			display: block;
		} 
		.dark, .page-title {
			margin:0;
			padding:7px;
			text-align: center;
			float:none;
		}	
		article#main-col {
			padding:0;
			margin:0;
		} 
		#boxes .box img {
			width: 40%; 
			height: 300px;
		}  
		aside#sidebar .quote input,aside#sidebar .quote textarea{
			width:95%;
			margin-top:10px; 
			padding:5px;
			font-size: 13px;
		}
		table {	
			margin:0px;
			padding:10px;
			width: 100%; 
			font-size: 22px;
			text-align:center;
		}	
		#card { 
			margin: auto; 
			text-align:center;
			width:45%;
			padding:0px; 
			position:relative;
			height:auto;
		}
		.float-img {
			clear: both;
			margin-right:8px; 
			margin-left: 8px;
			margin-top: 10px;
			padding: 0;  
			height: 125px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}		

		article#mainpage_1,.block-left, .block-right, .block-right h3 {
			width:95%; 
			height:100%	;
			float: none;
			margin :auto;
			margin-bottom:10px;
			padding:auto ;
			text-align:l;
		}
		article#mainpage_2 {
			width:100%; 
			text-align:center;	
			height:auto; 
			line-height:2em;
			font-size:26px;
			margin:0;
			padding:0 ;
		}
	   
}       
